:root {
  --amarillo: #f99b2d;
  --gris: #8f9cb4;
  --blanco: #fafbfb;
  --azulOscuro: #141f49;
  --azul: #042065;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  /*1rem = 10px*/
  width: 100%;
  zoom: 100%;
  font-family: "Figtree", sans-serif;
  color: var(--azul);
  line-height: 1.5;
  background-image: url(../images/fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  p {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  .header__content {
    flex-direction: column;
  }
}
.header__imagen {
  width: 8rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.header__text {
  color: var(--azul);
  text-align: center;
}

.main {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
}

.main__title {
  grid-column: 1/3;
  text-align: center;
}

.main__text {
  text-align: justify;
}

.main__image {
  width: 35rem;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .main__content {
    grid-template-columns: 1fr;
  }
  .main__title {
    grid-column: 1/2;
    font-size: 3rem;
  }
  .main__text {
    font-size: 1.6rem;
  }
  .main__image {
    grid-row: 2/3;
    width: 25rem;
  }
}
.detalles {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.detalles__content {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-areas: "equipo mision" "equipo vision";
}

@media (max-width: 768px) {
  .detalles__content {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    grid-template-areas: "mision" "equipo" "vision";
  }
}
.mision,
.vision,
.equipo {
  padding: 2rem;
  text-align: justify;
  border: 0.5rem solid var(--amarillo);
  border-radius: 3rem;
}

@media (max-width: 768px) {
  .mision__title,
  .vision__title,
  .equipo__title {
    text-align: center;
  }
  .mision__text,
  .vision__text,
  .equipo__text {
    font-size: 1.6rem;
    text-align: justify;
  }
}
.mision {
  grid-area: mision;
}

.equipo {
  grid-area: equipo;
}

.equipo__text {
  font-size: 2rem;
}

.vision {
  grid-area: vision;
}

.companias {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.row {
  background-color: var(--azul);
  border-top: 0.5rem solid var(--amarillo);
  border-bottom: 0.5rem solid var(--amarillo);
  border-radius: 5rem;
}

.companias__title {
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Figtree", sans-serif;
  font-size: 4rem;
  color: var(--blanco);
}

.carousel {
  perspective: 120rem;
}

.contrata {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.contrata__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contrata__title {
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 768px) {
  .contrata__title {
    font-size: 3.4rem;
  }
}
.contrata__text {
  text-align: center;
  font-size: 2.3rem;
}

.contrata__btn {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  border: 0.3rem solid var(--amarillo);
  background-color: var(--amarillo);
  color: var(--azul);
}

@media (max-width: 768px) {
  .contrata__text {
    text-align: center;
    font-size: 1.8rem;
  }
  .contrata__btn {
    font-size: 1.8rem;
  }
}
.contrata__btn:hover {
  color: var(--blanco);
  background-color: var(--azul);
  transition: 0.5s ease-out;
}

.encontranos {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.encontranos__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto__title {
  text-align: center;
}

.contacto__iconos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.c-icon {
  font-size: 3rem;
  color: var(--azul);
}

.c-icon:hover {
  color: var(--amarillo);
  transition: 0.3s ease-in;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes__title {
  text-align: center;
}

.redes__iconos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.r-icon {
  font-size: 3rem;
  color: var(--azul);
}

.r-icon:hover {
  color: var(--amarillo);
  transition: 0.3s ease-in;
}

.ubicacion {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  justify-content: space-evenly;
}

.ubicacion__maps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ubicacion__maps iframe {
  max-width: 90%;
}

.ubicacion__maps h3 {
  text-align: center;
  margin: 3rem 0;
}

.ubicacion__maps--horarios {
  color: var(--amarillo);
}

@media (max-width: 768px) {
  .encontranos__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .ubicacion {
    grid-column: 1/2;
  }
}
.footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--azul);
  border-top: 0.3rem solid var(--amarillo);
}

.footer__text {
  text-align: center;
  font-size: 2rem;
  color: var(--amarillo);
}/*# sourceMappingURL=styles.css.map */